.name {
  width: 25%;
}

.ingredients {
  width: 35%;
}

.price {
  width: 10%;
}

.amountbutton.dark {
  background: #acf;
  color: #333;
}

.amountbutton.light {
  background: navy;
  color: #fff;
}

td.dark {
  color: #fff;
  border: 1px #fff dashed;
}

td.light {
  color: #333;
  border: 1px #333 dashed;
}

.name a {
  text-decoration: underline dotted orange;
}

.name.dark a {
  color: #fff;
}

.name.light a {
  color: #333;
}
