.name {
  width: 30%;
}

.ingredients {
  width: 40%;
}

.price {
  width: 10%;
}

.amountbutton.dark {
  background: #acf;
  color: #333;
}

.amountbutton.light {
  background: navy;
  color: #fff;
}

td.dark {
  border: 1px #fff dashed;
}

td.light {
  border: 1px #333 dashed;
}
