.item {
  border: 1px #333 solid;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  min-width: fit-content;
}

.item.dark {
  background: navy;
  color: #fff;
}

.item.light {
  background: navy;
  color: #fff;
}

.item.light.active {
  filter: hue-rotate(60deg);
}

.item.dark.active {
  filter: hue-rotate(-60deg);
}

a.item {
  text-decoration: none;
}
