.restaurant {
  border: 1px #333 solid;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  background: steelblue;
}

hr {
  margin: 20px;
}

.dark {
  background: #014;
  color: #fff;
}

.light {
  background: #bdf;
  color: #333;
}
