.restaurant {
  border: 1px #333 solid;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  background: steelblue;
}

hr {
  margin: 20px;
}

.dark {
  background: #014;
  color: #fff;
}

.light {
  background: #bdf;
  color: #333;
}

.tab {
  display: inline-block;
  text-decoration: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px orange solid;
  border-bottom: none;
  padding: 5px 10px;
}

.tab.dark {
  background: #468;
}

.tab.light {
  background: #8ac;
}

.active.tab {
  background: orange;
}

.container {
  border: 1px orange solid;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px;
}
