.feedback {
  width: 300px;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  background: navy;
  color: #fff;
}

.feedback label {
  margin: 5px 10px;
}

.feedback input {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 5px;
}

.feedback textarea {
  resize: none;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 5px;
  margin: 30px auto;
}

.feedback button[type="submit"] {
  background: steelblue;
  color: #fff;
  font-size: 16px;
  padding: 5px 10px;
}

.feedback button[type="reset"] {
  background: #f55;
  color: #fff;
  padding: 5px 10px;
}

.feedback .buttons {
  display: flex;
  justify-content: space-between;
}

form.dark {
  background: #468;
}

form.light {
  background: #8ac;
}
