.item {
  background: lightsteelblue;
  color: #000;
  border: 1px #333 solid;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.activeItem {
  background: steelblue;
  color: #fff;
}
